<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>게시글 상세</h1>
<script>
    function aa(){
            return confirm("삭제 하시겠습니까?");
        }
</script>
    <div>
        <strong>제목: </strong><span th:text="${post.title}"></span><br>
        <strong>작성자: </strong>
        <span th:text="${post.author != null ? post.author.username : '탈퇴 완료'}"></span><br>
        <strong>작성일: </strong>
        <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span><br>
    </div>
    <hr>
    <div>
        <pre th:text="${post.content}"></pre>
    </div>
    <div>
        <th:block th:if="${post.author != null and post.author.id == loginUserId}">
            <a th:href="@{'/free/edit/' + ${post.id}}">수정</a>
            <form th:action="@{'/free/delete/' + ${post.id}}" method="post" style="display:inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">삭제</button>
            </form>
        </th:block>
    </div>

    <hr>
    <div>
        <form th:action="@{/free/detail/{id}(id=${post.id})}" method="post" th:object="${cmtDto}">
            <!-- cmtDto에 이미 postId가 설정되어 있으므로 value속성을 제거 -->
            <input type="hidden" th:field="*{postId}" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <textarea th:field="*{content}" rows="10"></textarea>
            <button type="submit">댓글 작성</button>
        </form>
    </div>
    <hr>
    <h3>댓글목록</h3>
    <div th:if="${#lists.isEmpty(comments) == false}">
        <ul>
            <li th:each="comment : ${comments}" style="list-style-type: none;">
                <div style="margin-bottom: 10px;">
                    <strong>댓글 작성자: </strong><span th:text="${comment.author.username}">작성자</span><br>
                    <strong>내용: </strong><span th:text="${comment.content}">내용</span>
                    <div style="float: right;">
                        <th:block th:if="${comment.author != null and comment.author.id == loginUserId}">
                            <a th:href="@{/comment/edit/{id}(id=${comment.id})}">수정</a>
                            <form th:action="@{'/comment/delete/' + ${post.id}}" method="post" style="display:inline;">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <button type="submit">삭제</button>
                            </form>
                        </th:block>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <a th:href="@{/free/list}">목록으로</a>
    </div>
</body>
</html>