<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <script>
        function confirmLogout(){
            return confirm("로그아웃 하시겠습니까?");
        }
    </script>
</head>
<body>
    <h1>메인 페이지 입니다.</h1>
    <div th:if="${loggedInUser != null}">
        <p>
            환영합니다. <Strong th:text="${loggedInUser.username}">[사용자 이름]</Strong>님!
            <a href="/user/logout" onclick="confirmLogout();">로그아웃</a>
            <a href="/free/list">자유게시판</a>
        </p>
    </div>

    <div th:if="${loggedInUser == null}">
        <a href="/user/signup">회원가입</a>
        <a href="/user/login">로그인</a>
        <br>
        <a href="/free/list">자유게시판</a>
    </div>


</body>
</html>